body{
  margin: 100px;
}

.box {
width: 300px;
height: 300px;
margin-bottom: 50px;
float: left;
background: #3DCCC7;
transition-duration: 1000ms;
transition-property: background, width;
transition-timing-function: ease;
}

.box:hover {
  background: #FF6B6B;
  width: 500px;
}

.box2 {
width: 300px;
height: 300px;
margin-bottom: 50px;
float: left;
background: #3DCCC7;
transition-duration: 1000ms;
transition-property: background, width;
transition-timing-function: cubic-bezier(1,-0.04,.36,1);
}

.box2:hover {
  background: #FF6B6B;
  width: 500px;
}

.box3 {
width: 300px;
height: 300px;
margin-bottom: 50px;
float: left;
background: #3DCCC7;
transition-duration: 1000ms;
transition-property: background, width;
transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.box3:hover:hover {
  background: #FF6B6B;
  width: 500px;
}

.box4 {
width: 300px;
height: 300px;
margin-bottom: 50px;
float: left;
background: #3DCCC7;
transition-duration: 1000ms;
transition-property: background, width;
transition-timing-function: cubic-bezier(.79,.14,.15,.86);
}

.box4:hover:hover {
  background: #FF6B6B;
  width: 500px;
}
