body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
  padding: 0;
}

.nav{
  width: 100%;
  height: 90px;
  background-color: #3E4143;
  display: flex;
  margin: 0;
  padding: 0;
  float: left;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition-duration: 500ms;
}

.sticky{
  position: fixed;
  height: 70px;
}

.sticky .h1nav{
  font-size: 45px;
}

.sticky .h2nav{
  font-size: 20px;
}

.h1nav{
  padding: 0;
  margin: 0;
  float: left;
  font-family: brush script std;
  color: #E9AA15;
  font-size: 55px;
  flex-basis: 55%;
  transition-duration: 500ms;
  cursor: pointer;
}

.h2nav{
  padding: 0;
  margin: 0;
  float: left;
  font-family: A Pompadour Sample;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.70);
  flex-basis: 5%;
  cursor: pointer;
  transition-duration: 500ms;
}

.h2nav:hover{
  color: rgba(255, 255, 255, 1);
}

.h1LandingContainer{
  padding: 0;
  margin: 0;
  font-family: A Pompadour Sample;
  font-size: 110px;
  font-weight: normal;
  color: white;
}

.h2LandingContaier{
  padding: 0;
  margin: 0;
  font-family: A Pompadour Sample;
  font-size: 55px;
  font-weight: normal;
  color: #E9AA15;
}

.h2Course{
  padding: 0;
  margin: 0;
  font-family: A Pompadour Sample;
  font-size: 40px;
  color: white;
  font-weight: normal;
  margin-top: 50px;
}

.landingContainer{
  background-image: url(/images/landingImage.png);
  width: 100%;
  height: 1000px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
}

.landingButton{
  background-color: #E9AA15;
  border-style: none;
  border-radius: 50px;
  height: 60px;
  width: 270px;
  font-family: A Pompadour Sample;
  font-size: 32px;
  color: white;
  margin-top: 100px;
  transition-duration: 300ms;
  cursor: pointer;
}

.landingButton:hover{
  background-color: #D49501;
}

.courseContainer{
  width: 100%;
  height: auto;
  display: flex;
}

.courseContent{
  width: auto;
  height: 880px;
  background-color: #3E4143;
  opacity: 0.88;
  border-style: solid;
  border-color: #E8A914;
  border-width: 2px;
  text-align: center;
  transition-duration: 500ms;
  cursor: pointer;
}

.courseContent:hover{
  opacity: 0.96;
}

.courseContainerImage_uex{
  background-image: url(/images/uexContainerImage.png);
  width: 25%;
  height: 880px;
}

.courseContainerImage_ptm{
  background-image: url(/images/ptmContainerImage.png);
  width: 25%;
  height: 880px;
}

.courseContainerImage_dev{
  background-image: url(/images/devContainerImage.png);
  width: 25%;
  height: 880px;
}

.courseContainerImage_sco{
  background-image: url(/images/scoContainerImage.png);
  width: 25%;
  height: 880px;
}
