body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
  padding: 0;
}

.nav{
  width: 100%;
  height: 90px;
  background-color: #3E4143;
  display: flex;
  margin: 0;
  padding: 0;
  float: left;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition-duration: 500ms;
}

.sticky{
  position: fixed;
  height: 70px;
}

.sticky .h1nav{
  font-size: 45px;
}

.sticky .h2nav{
  font-size: 20px;
}

.h1nav{
  padding: 0;
  margin: 0;
  float: left;
  font-family: brush script std;
  color: #E9AA15;
  font-size: 55px;
  flex-basis: 55%;
  transition-duration: 500ms;
  cursor: pointer;
}

.h2nav{
  padding: 0;
  margin: 0;
  float: left;
  font-family: A Pompadour Sample;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.70);
  flex-basis: 5%;
  cursor: pointer;
  transition-duration: 500ms;
}

.h2nav:hover{
  color: rgba(255, 255, 255, 1);
}

.content{
  height: 1000px;
  width: 100%;
  background-color: #E9E9E9;
}

.contentContainer{
  height: 1000px;
  width: 75%;
  margin: auto;
  background-color: #F3F3F3;;
}

.headImage{
  width: 50%;
  height: auto;
}

.headContent{
  margin-top: 70px;
  float: right;
  width: 50%;
  height: height;
}

.title{
  float: left;
  width: auto;
  font-family: A Pompadour Sample, sans-serif;
  color: #4d4d4d;
  font-size: 140px;
  margin-left: 80px;
}

.subtitle{
  float: left;
  font-family: A Pompadour Sample, sans-serif;
  font-size: 70px;
  margin-top: 10px;
  margin-left: 80px;
  color:#D89F19;
}

.pageContent{
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-left: 50px;
}

.pageContent h2{
  font-family: A Pompadour Sample, sans-serif;
  font-size: 70px;
}

.pageContent p{
  font-family: Franklin Gothic URW, sans-serif;
  font-size: 25px;
}

footer{
  width: 100%;
  height: auto;
  background-color: #242424;
}

.footerContainer{
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
  padding-top: 50px;
  flex-wrap: wrap;
}

.footerContainer h1{
  font-family: brush script std;
  color: #D89F19;
  font-size: 57px;
  flex-basis: 100%;
}

.footerLeft{
  flex-basis: 55%;
  font-family: FranklinGothic URW;
  font-weight: lighter;
  color: #DEDEDE;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.footerRight{
  flex-basis: 15%;
  text-align: right;
  font-family: FranklinGothic URW;
  font-weight: lighter;
  color: #DEDEDE;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

footer hr{
  width: 100%;
  border-style: solid;
  border-color: #DEDEDE;
  border-width: 1px;
  margin-bottom: 10px;
}

.footerEnd{
  flex-basis: 100%;
  text-align: right;
  color: rgba(255, 255, 255, 0.55);
  font-size: 15px;
  font-family: FranklinGothic URW;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
}
