body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
  padding: 0;
}

.nav{
  width: 100%;
  height: 90px;
  background-color: #3E4143;
  display: flex;
  margin: 0;
  padding: 0;
  float: left;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition-duration: 500ms;
}

.sticky{
  position: fixed;
  height: 70px;
}

.sticky .h1nav{
  font-size: 45px;
}

.sticky .h2nav{
  font-size: 20px;
}

.h1nav{
  padding: 0;
  margin: 0;
  float: left;
  font-family: brush script std;
  color: #E9AA15;
  font-size: 55px;
  flex-basis: 55%;
  transition-duration: 500ms;
  cursor: pointer;
}

.h2nav{
  padding: 0;
  margin: 0;
  float: left;
  font-family: A Pompadour Sample;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.70);
  flex-basis: 5%;
  cursor: pointer;
  transition-duration: 500ms;
}

.h2nav:hover{
  color: rgba(255, 255, 255, 1);
}

.content{
  height: auto;
  width: 100%;
  background-color: #E9E9E9;
}

.contentContainer{
  height: auto;
  width: 75%;
  margin: auto;
  background-color: #F3F3F3;
}

.headImageContainer{
  margin: auto;
  text-align: center;
  background-color: #232323;
  height: 700px;
  padding-top: 90px;
}

.headImage{
  height: 700px;
  width: 100%;
}

.pageContent{
  margin: auto;
  margin-top: 35px;
  width: 90%;
}
.pageContent h1{
  font-family: A Pompadour Sample;
  font-size: 90px;
  color: #232323;
}
.pageContent h2{
  font-family: A Pompadour Sample;
  font-size: 60px;
  color: #D89F19;
  padding-top: 10px;
}

.pageContent p{
  font-family: Franklin Gothic URW, sans-serif;
  font-weight: regular;
  font-size: 25px;
  color: #3E4143;
}

.headerLine{
  border-width: 5px;
  border-style: solid;
  border-color: rgba(112, 112, 112, 0.38);
  width: 820px;
  margin-left: 0px;
  border-radius: 10px;
}

.poccontainer{
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.poc{
  background-size: cover;
  flex-basis: calc(100% / 3);
  height: 392px;
}

.pocContent{
  width: 100%;
  height: 100%;
  background-color: rgba(62,65,67,0.7);
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  transition-duration: 400ms;
  cursor: pointer;
}

.pocContent:hover{
  background-color: rgba(233,170,21,0.7)
}

.poccontainer h2{
  font-family: A Pompadour Sample;
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  padding-top: 10%;
  text-align: center;
}

.pocContent p{
  font-family: A Pompadour Sample;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer{
  width: 100%;
  height: auto;
  background-color: #242424;
}

.footerContainer{
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
  padding-top: 50px;
  flex-wrap: wrap;
}

.footerContainer h1{
  font-family: brush script std;
  color: #D89F19;
  font-size: 57px;
  flex-basis: 100%;
}

.footerLeft{
  flex-basis: 55%;
  font-family: FranklinGothic URW;
  font-weight: lighter;
  color: #DEDEDE;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.footerRight{
  flex-basis: 15%;
  text-align: right;
  font-family: FranklinGothic URW;
  font-weight: lighter;
  color: #DEDEDE;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

footer hr{
  width: 100%;
  border-style: solid;
  border-color: #DEDEDE;
  border-width: 1px;
  margin-bottom: 10px;
}

.footerEnd{
  flex-basis: 100%;
  text-align: right;
  color: rgba(255, 255, 255, 0.55);
  font-size: 15px;
  font-family: FranklinGothic URW;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
}
