body {
  margin: 100px;
  padding: 0px;
}

.box {
  background: #d42929;
  width: 300px;
  height: 300px;
  transition-duration: 1000ms;
  transition-property: background, transform;
  margin-bottom: 250px;
  float: left;
}

.box:hover {
  background: #ff9205;
  transform: rotate(90deg) translate(100px) scaleX(2);
